<div class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px" 
  fxLayoutGap.xs="0">

	<div fxFlex="40" *ngIf="dish">
	  <md-card>
		<md-card-header>
		  <md-card-title>
			<h3>{{dish.name | uppercase}}</h3>
		  </md-card-title>
		</md-card-header>
		<img md-card-image src={{dish.image}} alt={{dish.name}}>
		<md-card-content>
		  <p>{{dish.description}}</p>
		</md-card-content>
		<md-card-actions>
			<button md-button [routerLink] = "['/dishdetail', prev]">
			<span class ="fa fa-chevron-left fa-lg"></span>
			</button> 
			<button md-button (click)="goBack()">BACK</button>
		  <button md-button>LIKE</button>
			<button md-button>SHARE</button>
			<span class= "flex-spacer"></span>
			<button md-button [routerLink]= "['/dishdetail',next ]">
			<span class ="fa fa-chevron-right fa-lg"></span>
			</button>
		</md-card-actions>
		</md-card>
		<div [hidden]="dish">
				<md-spinner></md-spinner><h4> Loading . . . Please wait</h4>
			</div>
	</div>

	<div fxFlex="40" *ngIf="dish">
	  <md-list fxFlex>
		<h1 md-line> Comments </h1>
		<md-list-item *ngFor="let commentItem of dish.comments">
		  <p md-line>
			<span> {{commentItem.comment}} </span>
		  </p>
		  <p md-line>
			<span> {{commentItem.rating}} Stars</span>
		  </p>
		  <p md-line>
			<span> -- {{commentItem.author}} </span><span> {{commentItem.date | date}} </span>
		  </p>
		</md-list-item>
		</md-list>
</div>
<div [hidden]="dish">
	<md-spinner></md-spinner><h4> Loading . . . Please wait</h4>
</div>

</div>